body {
    background: rgb(1,5,23);
    background: radial-gradient(circle, rgba(1,5,23,1) 48%, rgba(8,3,32,1) 74%, rgba(14,5,40,1) 90%, rgba(27,4,62,1) 100%);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

/*h1 styles*/

h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style:normal;
    font-size: 10rem;
}

h1:hover{
    color: rgb(255, 170, 0);
    cursor: pointer;

}



/* Paragraph Styles*/

.paragraph{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em;
    

    div{
        margin: 2em;
    }
}


.helloWorld, 
.programmer,
.graphicDesign {
    display: flex;
    flex-direction: column;   
    text-align: left;
    font-weight: 100;
    font-style: italic;
}


    /* Hello world*/
    .helloWorld{


    }


    /* Programmer*/
    .programmer{
    font-style: normal;
 
    }



    /* Graphic design is my passion*/
    .graphicDesign{
        font-weight: 400;

    }






/*buttons*/



/*Footer*/



/*Media queries*/